{% extends 'base.html.twig' %}

{% block body %}
<div class="content_container">
        <div>
        {% for article in articles %}
            <section>
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
                {% if article.author %}
                <p class="article_author">
                Auteur: {{ article.author.name }} {{ article.author.firstname }}
                </p>
                {% endif %}
            </section>
        {% endfor %}
    </div>
</div>
{% endblock %}
