@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0; 
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px 2px black;
    margin-bottom: 35px;
}
header nav {
    height: 45px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
header nav a:hover {
    color: gray;
}
main {
    margin: 0 auto;
    width: 900px;
}
main h1 {
    margin-bottom: 15px;
}
section {
    margin-bottom: 25px;
    margin-top: 25px;
}
.article_author {
    font-weight: bold;
    margin-top: 15px;
}
form {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
form input {
    width: 200px;
    height: 30px;
    margin-left: 15px;
}
.action_button {
    padding: 15px 25px;
    background-color: gray;
}
.action_button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.action_button_container {
    margin-top: 30px;
}